/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #222; /* Black background */
    color: #fff; /* White text */
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #000; /* Black container background */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5); /* Green box shadow */
    transition: all 0.3s ease; /* Smooth transition */
}

.container:hover {
    box-shadow: 0 0 20px rgba(255, 255, 0, 0.5); /* Yellow box shadow on hover */
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #0f0; /* Green heading color */
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #0f0; /* Green border */
    border-radius: 5px;
    background-color: #000; /* Black input background */
    color: #0f0; /* Green text */
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    outline: none;
    border-color: #ff0; /* Yellow border on focus */
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ff0; /* Yellow background */
    color: #000; /* Black text */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease; /* Smooth transition */
}

button:hover {
    background-color: #0f0; /* Green background on hover */
    color: #fff; /* White text on hover */
}

.imgs {
    margin-top: 10%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: all 0.3s ease; /* Smooth rotation transition */
}

.imgs:hover {
    transform: rotate(360deg); /* Rotate image on hover */
}
